<% show_post ||= false %>

<div class="row">
  <div class="span8 well">
    <em>"<%= comment.body %>"</em>
    <% if show_post %>
      on <%= link_to comment.post.title, post_path(comment.post) %>
    <% end %>
    <br/>
    <br/>
    <span class="quiet">posted by</span> <%= comment.creator.username %> at
    <small><%= comment.created_at %></small>
  </div>
</div>
